html, body, div, span, applet, object, iframe, caption, p {
	margin: 0 0 0 0;
	border: 0 0 0 0;
	font: inherit;
	color: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

header {
	width: 100%;
	position: relative;
}

header, footer {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header a, footer a {
	transition-duration: .25s;
	text-decoration: none;
}

footer {
	width: 100%;
	margin-top: 50px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #515151;
}

a {
	color: #2a7ead;
	text-decoration: none;
}

h1 {
	margin-top: 30px;
	font-size: 36px;
}

h2 {
	margin-top: 25px;
	font-size: 30px;
}

h3 {
	margin-top: 20px;
	font-size: 24px;
}

img {
	border-radius: 3px;
	max-width: 100%;
}

#post-info {
	font-size: 14px;
	position: absolute;
	z-index: 2;
}

#post-info h1 {
	font-weight: bold;
	margin: 15px 0px;
}

#post-info h2 {
	opacity: 0.75;
	font-style: italic;
	font-size: 24px;
	line-height: 24px;
	text-align: justify;
	font-weight: lighter;
	margin: 15px 0px;
}

#post-info h2:before {
	content: "“";
}

#post-info h2:after {
	content: "”";
}

#post-info h3 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: -10px;
}

#home-title {
	height: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	position: absolute;
	z-index: 1;
}

img.site-icon {
	margin-top: -75px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition-duration: .25s;
	opacity: .9;
}

img.site-icon:hover {
	margin-top: -80px;
	width: 160px;
	height: 160px;
	opacity: 1;
}

img.site-icon-small {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

img.site-icon-page {
	width: 100px;
	height: 100px;
	margin-left: -40px;
	margin-top: -120px;
	border-radius: 50%;
	position: absolute;
}

#nav-icon {
	width: 30px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	z-index: 2;
}

#nav-icon a, #nav-icon a span {
	text-decoration: none;
	font-size: 48px;
	text-align: center;
	display: block;
}

#article {
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	font-weight: 400;
	letter-spacing: 0px;
	font-size:20px;
	color: #313131;
	line-height: 1.5;
	position: relative;
}

#article a {
	border-bottom: 2px solid #fff;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	word-wrap: break-word;
}

#article a:hover {
	border-bottom: 2px solid #2a7ead;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

a.site-title:hover, .copyright a:hover {
	text-decoration: underline;
}

table {
	border: 0px;
	border-collapse: collapse;
	display: block;
	overflow: auto;
}

td, th {
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 8px;
}

hr {
	position: relative;
	margin: 1.5rem 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

abbr {
	font-size: 85%;
	font-weight: bold;
	color: #555;
	text-transform: uppercase;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #e5e5e5;
}

blockquote, pre, .message {
	padding: 10px 18px;
	margin: 0px 0px 30px -20px;
	margin-top: inherit;
	color: #7a7a7a;
}

blockquote {
	border-left: 10px solid #C7F66A;
}

blockquote p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.message {
	border-left: 10px solid #F66A81;
}

code, pre {
	font-family: Menlo, Monaco, "Courier New", monospace;
	background-color: #f9f9f9;
}

code {
	padding: .25em .5em;
	font-size: 85%;
	color: #bf616a;
	border-radius: 3px;
}

pre {
	display: block;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	border-left: 10px solid #F6DF6A;
}

pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent;
}

.highlight {
	margin-bottom: 1rem;
	border-radius: 4px;
}

.highlight pre {
	margin-bottom: 0;
}

.clean {
	color: #eee;
	background-color: #000;
}

.clean a {
	color: #eee;
}

.dark, .dark a {
	color: #555;
}

.social-links {
	width: auto;
	top: 20px;
	right: 20px;
	position: absolute;
	z-index: 2;
}

.social-links a {
	opacity: 0.75;
	text-decoration: none;
	display: inline-block;
	margin: 0 5px 0 5px;
	padding: 0;
}
.social-links a span {
	font-size: 24px;
	height: 24px;
	width: 24px;
}

.social-links a:hover, .menu a:hover {
	opacity: 1;
}

.menu {
	display: block;
	cursor: pointer;
	background-color: rgba(119, 119, 119, 0.5);
	width: 24px;
	height: 24px;
	top: 14px;
	left: 14px;
	padding-top: 8px;
	padding-left: 8px;
	border-radius: 3px;
	z-index: 2;
	transition-duration: .5s;
}

.menu:hover, .menu:active  {
	background-color: #777;
}

.menu-content {
	background-color: #777;
	width: auto;
	top: 40px;
	left: 14px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 0px 3px 3px 3px;
	text-align: center;
	z-index: 1;
}

.menu-content a {
	text-transform: uppercase;
	font-size: 11pt;
	letter-spacing: 0.7pt;
	font-weight: bold;
	line-height: 26px;
}

.menu-content a:hover {
	color: #cdcdcd;
}

.menu span {
	color: #eee;
	font-size: 16px;
	height: 20px;
	width: 20px;
	opacity: 1;
}

.menu + input {
	display: none;
}

.menu + input + * {
	display: none;
}

.menu + input:checked + * {
	display: block;
}

.pagination {
	position: relative;
	margin-top: 30px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	text-decoration: none;
	color: #888;
}

.pagination a {
	text-decoration: none;
	color: #888;
}

.older-posts, .newer-posts {
	position: absolute;
	padding: 0 15px;
}

.older-posts {
	right: 0;
}

.page-number {
	padding: 2px 0;
}

.newer-posts {
	left: -15px;
}

.older-posts {
	right: -15px;
}

.older-posts:hover, .newer-posts:hover {
	color: #2a7ead;
	border-color: #00BDB8;
}

.copyright {
	color: inherit;
	font-size: 14px;
	text-transform: uppercase;
	bottom: 10px;
	position: absolute;
}

.copyright a {
	text-decoration: none;
}

#post-list {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 50px;
	padding-bottom: 80px;
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 20pt;
	color: #313131;
	line-height: 1.5;
	position: relative;
}

#post-list h1 {
	font-weight: bold;
	font-size: 30pt;
	line-height: 44px;
	margin-top: 0px;
	margin-bottom: 8px;
}

#post-list a {
	color: #555;
	text-decoration: none;
	transition-duration: .5s;
}

#post-list a:hover {
	color: #2a7ead;
	text-decoration: none;
}

.post-description {
	color: #777;
	font-size: 15pt;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

.post-date {
	font-size: 12pt;
	color: #999;
}

.social_share {
	font-size: 1px;
}

.social_share span:first-child {
	margin-right:15px;
}

#GithubComments ul{
	list-style:none;
	padding-left:0;
}

#GithubComments ul li{
	width:100%;
	display: inline-block;
	margin-top:15px;
	margin-bottom:15px;
}

#GithubComments .comment_avatar{
	height:48px;
	width:48px;
	border-radius:4px;
	display: inline-block;
	vertical-align:top;
}

#GithubComments .comment_text_container{
	display: inline-block;
	border-color: #bfccd1;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-left: 20px;
}
#GithubComments .comment_text_container:before{
	content:"";
	position:absolute;
	left:56px;
	margin-top:15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 13.9px 9px 0;
	border-color: transparent #bfccd1 transparent transparent;
	border-style: solid solid outset;
	line-height: 0px;
	_border-color: #000000 #bfccd1 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#GithubComments .comment_text_container:after{
	content:"";
	position:absolute;
	left:56px;
	margin-top:-60px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 13.9px 8px 0;
	border-color: transparent #f2f8fa transparent transparent;
	border-style: solid solid outset;
	line-height: 0px;
	_border-color: #000000 #f2f8fa #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#GithubComments .comment_text_header{
	font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	color: #8e9597;
	background-color: #f2f8fa;
	border-bottom-color: #e1edf1;
	padding:10px;
}

#GithubComments .comment_text_header a{
	font-weight: bold;
	color: #555;
  text-decoration: none;

}

#GithubComments .comment_text_body{
	padding:10px;
	box-sizing: border-box;
	color: #333333
	display: block;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

/* google plus comments responsive */
div[id^='___comments_'], div[id^='___comments_'] iframe {
  width: 100% !important;
}
